@model DotNetCoreInternationalization.ViewModels.AddBookViewModel
@{
    ViewData["Title"] = "Add Book";
}



<form>
    <fieldset>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </fieldset>
</form>