@using DotNetCoreInternationalization.Enums
@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
}
@*@{ 
            CultureInfo.CurrentUICulture = new CultureInfo("de-DE");
}*@
<div>@Gender.Male.ToLocalizedString()</div>
<div>@Gender.Female.ToLocalizedString()</div>
<div>@Gender.Unspecified.ToLocalizedString()</div>

